[submodule "dapple_packages/ds-auth"]
	path = dapple_packages/ds-auth
	url = git@github.com:nexusdev/ds-auth
[submodule "dapple_packages/erc20"]
	path = dapple_packages/erc20
	url = git@gitub.com:nexusdev/erc20
